<h4>Details</h4>
<div >
    <ul>
        <li>app.js - main express (todo: tests lists update on files change)</li>
        <li>views/index.hbs - main page</li>
        <li>views/01-sample-test.hbs - this page</li>
        <li>views/layout.hbs - head scripts</li>
        <li>public/javascript/app.js - main script</li>
    </ul>
    </div>
<h4>Address:</h4>
<div id='address' value>{{address}}</div>
<h4>From:</h4>
<div id='from'>{{from}}</div>
<h4>BIN:</h4>
<div id='bin'>{{bin}}</div>
<h4>ABI:</h4>
<div id='abi'>{{abi}}</div>
<h4>Source:</h4>
<textarea cols="80" rows="25">{{source}}</textarea></br>
<input type="button" value="Deploy Contract" onclick="App.onClickDeploy()"></input>
