<p>Address:</p>
<div id='address' value>{{address}}</div>
<p>From:</p>
<div id='from'>{{from}}</div>
<p>BIN:</p>
<div id='bin'>{{bin}}</div>
<p>ABI:</p>
<div id='abi'>{{abi}}</div>
<p>Source:</p>
<textarea cols="80" rows="25">{{source}}</textarea>
<input type="button" value="Deploy Contract" onclick="App.onClickDeploy()"></input>
